@model IEnumerable<Domain.Activo>
@{
    ViewData["Title"] = "Activos";
}

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Estatus
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Estatus</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>